In [109]:
import pandas as pd

In [110]:
data = pd.read_csv('listarank.csv')
data

,Rank,Player,Tier,LP,Wins,Top4,Played,Win Rate %,Top4 Rate %
0,242,ArtourBabaevsky,Grandmaster 1,507 LP,17,58,94,18.1,61.7
1,227,EGN Rodrigues,Grandmaster 1,538 LP,15,49,83,18.1,59.0
2,5052,Nyxer TFT,Diamond 2,75 LP,14,60,124,11.3,48.4
3,3271,FTW A誰M,Diamond 1,75 LP,21,78,156,13.5,50.0
4,103,Kuzma is High,Challenger 1,728 LP,30,143,264,11.4,54.2
5,848,Kilnae,Master 1,173 LP,14,66,124,11.3,53.2
6,6633,Jitonce,Diamond 2,12 LP,10,35,58,17.2,60.3
7,350,Batata,Grandmaster 1,394 LP,21,81,153,13.7,52.9
8,591,EGN Renygp xD,Grandmaster 1,254 LP,41,158,331,12.4,47.7
9,99,Drunkiris,Challenger 1,746 LP,51,182,351,14.5,51.9

In [102]:
#data.sort_values('Rank', ascending=True, inplace=True)

In [111]:
#data['Rank'] = data['Rank'].replace(',','', regex=True)
#data

In [118]:
data['Rank'].astype(str).astype(int)
data['Rank'] = pd.to_numeric(data['Rank'])
#data['Rank'] = pd.to_numeric(data['Rank'], errors='coerce')
data.dtypes

Rank             int64
Player          object
Tier            object
LP              object
Wins             int64
Top4             int64
Played           int64
Win Rate %     float64
Top4 Rate %    float64
dtype: object

In [125]:
data.set_index('Rank')
data.sort_index(inplace=True)
data.sort_values(by ='Rank' , ascending=True, inplace=True)
data

,Rank,Player,Tier,LP,Wins,Top4,Played,Win Rate %,Top4 Rate %
9,99,Drunkiris,Challenger 1,746 LP,51,182,351,14.5,51.9
4,103,Kuzma is High,Challenger 1,728 LP,30,143,264,11.4,54.2
1,227,EGN Rodrigues,Grandmaster 1,538 LP,15,49,83,18.1,59.0
0,242,ArtourBabaevsky,Grandmaster 1,507 LP,17,58,94,18.1,61.7
7,350,Batata,Grandmaster 1,394 LP,21,81,153,13.7,52.9
8,591,EGN Renygp xD,Grandmaster 1,254 LP,41,158,331,12.4,47.7
5,848,Kilnae,Master 1,173 LP,14,66,124,11.3,53.2
3,3271,FTW A誰M,Diamond 1,75 LP,21,78,156,13.5,50.0
2,5052,Nyxer TFT,Diamond 2,75 LP,14,60,124,11.3,48.4
6,6633,Jitonce,Diamond 2,12 LP,10,35,58,17.2,60.3